<!-- Button Store modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#storeModal">
    Mağaza Listesi Göster
</button>
<!-- Button WasteType modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#wasteTypeModal">
  Atık Listesi Göster
</button>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#addGarbageRecordBackdrop" (click)="modalAdd()">
    Ekle
  </button>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Atık Tarihi | translate</th>
        <th>Ay</th>
        <th>Mağaza</th>
        <th>Atık Tipi</th>
        <th>Atık Çeşidi</th>
        <th>Miktar</th>
        <th>Birim</th>
        <th>Teslim Alan Firma</th>
        <th>İçerik</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of garbageRecodList$|async">
            <td>{{item.id}}</td>
            <td>{{item.wasteDate| date :'short'}}</td>
            <td>{{item.month}}</td>
            <td>{{storesMap.get(item.storeId)}}</td>
            <td>{{wasteTypesMap.get(item.wasteTypeId)}}</td>
            <td>{{wastePropertyMap.get(item.wasteTypeId)}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.quantityType}}</td>
            <td>{{item.receivingCompany}}</td>
            <td>{{item.wasteExplanation}}</td>
        </tr>
    </tbody>
</table>


  
  <!-- Modal  Store List -->
  <div class="modal fade" id="storeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mağaza Listesi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <p *ngFor="let store of storeList$|async">{{store.id}}-{{store.name}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal  WasteType List -->
  <div class="modal fade" id="wasteTypeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Atık Tipi Listesi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <p *ngFor="let wasteType of wasteTypeList$|async">{{wasteType.id}}-{{wasteType.wasteProperty}}-{{wasteType.wasteTypeName}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGarbageRecordBackdrop">
  Ekle
</button>

<!--Add Garbage Record Modal -->
<div class="modal fade" id="addGarbageRecordBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-garbagerecord></app-add-edit-garbagerecord>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>